*.egg
*.egg-info
*.pyc
*.sqlite
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test

# Project exclude paths
/venv/
.tox/
nosetests.xml
coverage.xml
nosetests-*.xml
coverage-*.xml
tutorial.db
build/
dist/
bin/
lib/
include/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
venv/
.cache/
.python-version
.idea
*.iml
*.xml