@import 'settings.css';

* {
	font-family: 'Akrobat Light';
}

body {
	min-height: 100vh; 
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

header {
	height: 52px;
	border-bottom: 1px solid black;
	background: url("../img/black_line.jpg") center no-repeat;
	background-size: cover;
}

header .wrapper {
	min-height: 52px;
	padding-left: 113px;
}

header .wrapper ul {
	height: 100%;
}

header .wrapper li {
	display: inline-block;
	margin-right: 52px;
	vertical-align: middle;
}

header .wrapper li:first-child {
	margin-right: 51%;
	margin-top: 7px;
}

header .wrapper li > a {
	font-size: 20px;
	color: white;
	transition: color 0.3s ease;
}

header .wrapper li > a:hover {
	color: #b42953;
}

footer {
	margin-top: auto;
	width: 100%;
	height: 150px;
	background-color: #000;
	padding: 50px 100px 30px 100px;
}

footer .wrapper {
	color: white;
	display: flex;
	justify-content: space-between;
}

footer .social-media p {
	font-size: 22px;
	margin-bottom: 2px;
}

footer .icon {
	width: 38px;
	height: 38px;
	background: url("../img/social-media.png") no-repeat;
	background-size: cover;
	display: inline-block;
}

footer .ws {
	background-position: -38px 0px;
}

footer .gl {
	background-position: -79px 0px;
}

footer .is {
	background-position: -117px 0px;
}

footer .copyright {
	align-self: flex-end;
	padding-top: 5px;
	font-size: 18px;
	letter-spacing: 1.5px;
}

@media screen and (max-width: 1570px) {
	.content .delivery-info input[type="text"] {
		height: 41px;
		font-size: 17px;
	}
	.content .delivery-info input[type="submit"] {
		font-size: 18px;
		height: 55px;
	}
	.content > h2 {
		font-size: 32px;
	}
	.products {
		width: 160px;
	}
	.steps img {
		width: 80px;
	}
	.content .steps p {
		font-size: 22px;
	}
	.content .steps h2 {
		font-size: 28px;
	}
}

@media screen and (max-width: 1280px) {
	header .wrapper li:first-child {
		margin-right: 41%;
	}
	.content .delivery-info input[type="text"] {
		height: 41px;
		font-size: 14px;
		padding-left: 18px;
	}
	.content .delivery-info input[type="submit"] {
		font-size: 16px;
		height: 40px;
	}
	.products {
		width: 140px;
	}
	.steps img {
		width: 70px;
	}
	.content .steps p {
		font-size: 20px;
	}
	.content .steps h2 {
		font-size: 26px;
	}
}

@media screen and (max-width: 860px) {
	header .wrapper li:first-child {
		margin-right: 31%;
	}
	header .wrapper {
		height: 5.509%;
		padding-left: 50px;
		background: url("../img/black_line.jpg") center no-repeat;
	}
}

@media screen and (max-height: 900px) {
	footer {
		width: 100%;
		height: 100px;
		padding: 15px 100px 50px 100px;
	}

	footer .social-media p {
		font-size: 18px;
	}

	footer .icon {
		width: 30px;
		height: 30px;
	}

	footer .ws {
		background-position: -33px 0px;
	}

	footer .gl {
		background-position: -64px 0px;
	}

	footer .is {
		background-position: -95px 0px;
	}

	footer .copyright {
		font-size: 15px;
	}
}