.burger-list {
  width: 40%;
  margin: 0 auto 50px auto;
}

.burger-list a {
  display: inline-block;
  margin-top: 50px;
  font-size: 20px;
  color: black;
}

.order-list table,
.burger-list table {
  border-collapse: collapse;
  color: #686461;
}

.burger-list table {
  width: 100%;
}

.burger-list h1,
.order-list h1 {
  text-align: center;
  margin-bottom: 20px;
}

.order-list h1 {
  margin-top: 50px;
}

.order-list {
  width: 80%;
  margin: 0 auto 50px auto;
}

.order-list table {
  width: 100%;
  margin: 0 auto;
}

td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}