{% extends "index.jinja2" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../static/css/table.css">{% endblock css %}

{% block content %}
    <h1>Заказ на кухню</h1>
    <table border="1">
    <tr>
      <td>Номер</td>
      <td>Булка</td>
      <td>Мясо</td>
      <td>Соус</td>
      <td>Начинка</td>
      </tr>
        {% for burger in burgers %}
        <tr>
          <td>{{ burger.id }}</td>
          <td>{{ burger.bun }}</td>
          <td>{{ burger.cutlet }}</td>
          <td>{{ burger.sauces }}</td>
          <td>{{ burger.stuffings }}</td>
      </tr>
        {% endfor %}
    </table>
    <a href="/list">К списку заказов</a>
{% endblock content %}