{% extends "index.jinja2" %}

{% block css %}<link rel="stylesheet" type="text/css" href="../static/css/order_info.css">{% endblock css %}

{% block content %}
<div class="order-info">
    <div class="top">
        <h1>Заказ успешно сформирован</h1>
        <img src="../static/img/checkmark.png" width="25px" height="25px">
    </div>
    <div class="bottom">
        <h3>Информация о заказе</h3>
        <p><span>Номер заказа:</span> {{ order_info.order_id }}</p>
        <p><span>Дата совершения заказа:</span> {{ order_info.creation_date }}</p>
        <p><span>Ваше имя:</span> {{order_info.name}}</p>
        <p><span>Ваш номер:</span> {{order_info.phone_number}}</p>
        <p><span>Ваш адрес:</span> {{order_info.address}}</p>
        <br>
        <h3>Собранный бургер:</h3>
        <p><span>Булочка:</span> {{order_info.burger_config.bun}}</p>
        <p><span>Котлета:</span> {{order_info.burger_config.cutlet}}</p>
        <p><span>Начинка:</span> {{order_info.burger_config.stuffings}}</p>
        <p><span>Соусы:</span> {{order_info.burger_config.sauces}}</p>
    </div>
</div>
{% endblock content %}